/upload/*
/bitrix/*
/cgi-bin
/.well-known

/exchange/*
/30_let/*
/robots.txt
/urlrewrite.php

/nbproject

/sitemap_*.xml
/yandex_*.html
/mailru-*.html
/google*.html
/*.html
/*.txt
/*.xml
*.log
*.local.php
*.csv

/mavt.ru_20190301_083828_nopub_5eb0452e.tar
/mavt.ru_20190301_083828_nopub_5eb0452e.tar.1
/mavt.ru_20190301_083828_nopub_5eb0452e.tar.2
/mavt.ru_20190305_082757_core_b6f5404f.tar
/restore.php

/bitrix
/exchange
/upload
/local/templates/mavt/vendors/
/local/php_interface/classes/lib/phpqrcode/cache/

# publics content
/company/lease/regions/
